<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="edu.cuny.hunter.logging.ui.commands.category">
      </category>
      <command
            name="Process logging levels."
            categoryId="edu.cuny.hunter.logging.ui.commands.category"
            id="edu.cuny.hunter.logging.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.cuny.hunter.logging.ui.commands.sampleCommand"
            class="edu.cuny.hunter.logging.ui.handlers.LoggingHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.cuny.hunter.logging.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="edu.cuny.hunter.logging.ui.menus.sampleMenu">
            <command
                  commandId="edu.cuny.hunter.logging.ui.commands.sampleCommand"
                  mnemonic="S"
                  id="edu.cuny.hunter.logging.ui.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="edu.cuny.hunter.logging.ui.toolbars.sampleToolbar">
            <command
                  commandId="edu.cuny.hunter.logging.ui.commands.sampleCommand"
                  icon="icons/sample.png"
                  tooltip="Say hello world"
                  id="edu.cuny.hunter.logging.ui.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=additions">
         <command
               commandId="edu.cuny.hunter.logging.ui.commands.sampleCommand"
               label="Process logging levels."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IMethod">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
