<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="edu.cuny.hunter.log.ui.commands.category">
      </category>
      <command
            name="Rejuvenate a log level."
            categoryId="edu.cuny.hunter.log.ui.commands.category"
            id="edu.cuny.hunter.log.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="edu.cuny.hunter.log.ui.commands.sampleCommand"
            class="edu.cuny.hunter.log.ui.handlers.LogHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="edu.cuny.hunter.log.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.jdt.ui.refactoring.menu?after=additions">
         <command
               commandId="edu.cuny.hunter.log.ui.commands.sampleCommand"
               label="Rejuvenate log level."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.refactoring.menu?after=additions">
         <command
               commandId="edu.cuny.hunter.log.ui.commands.sampleCommand"
               label="Rejuvenate log level."
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
